*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




body, html {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #0084CF 0%, 40.382571732199786%, #E7BCA2 67.51739978790283%, 83.75869989395142%, #FFD9B1 100%);
  font-family: "Lexend Exa", sans-serif;
  }

  .nav {
    display: flex;
    justify-content: center;

  }
  nav {
    position: relative;
    display: inline-block;
    animation: slide-in 1s ease-out;
    border: 2px solid #EBECF1;
    border-radius: 30px;


  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul li:not(:last-child) {
    margin-right: 20px;
  }

  ul li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: background 0.2s;
  }

  ul li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
  }
  ul li:hover {
    background: #66B5D6;
    border-color: #66B5D6;
  }

  ul li:hover a {
    color: #6f6152;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-50px);
    }
    40% {
      transform: translateY(20px);
    }
    70% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(15px);
    }
  }
h1 {
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 2rem 0;
  font-size: 40px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-template-rows: 1fr 1fr;
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 0;
  overflow: visible;
  position: relative;
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  position: relative;
  border-radius: 24px;

}

.galeria a:not(:first-child) {
  display: block;
  overflow: visible;
  box-shadow: 0 0 20px rgba(0, 0, 0, .75);
  border-radius: 24px;
  position: relative;


}

.galeria a:first-child {
  display: block;
  overflow: visible;
  position: relative;



}


.galeria a:not(:first-child):hover img {
  box-shadow: 0 0 20px rgba(0, 0, 0, .75);
  transform: scale(1.2, 1.2);
  position: absolute;
  z-index: 2;
}
.galeria a img:first-child:hover {
  transform: scale(1.2, 1.2);
  position: absolute;
  z-index: 2;
}


@media screen and (max-width:1200px) {

  ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  ul li:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  ul li {
    padding: 10px;
  }

  ul li a {
    font-size: 12px;
  }

  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  h1 {
    margin: 1rem;
    font-size: 20px;
  }
  .galeria a img:first-child {
    margin-bottom: 10px;
  }

  .galeria a:not(:first-child):hover img {
    transform: none;
    position: relative;
    z-index: 1;

  }
  .galeria a:hover img:first-child {
    transform: none;
    position: relative;
    z-index: 1;

  }



}
