body, html {
  height: 100%; /* Establece altura 100% para ocupar toda la ventana */
  margin: 0; /* Elimina márgenes por defecto */
}

body {
  background: linear-gradient(to bottom, #0084CF 0%, 40.382571732199786%, #E7BCA2 67.51739978790283%, 83.75869989395142%, #FFD9B1 100%);
  font-family: "Lexend Exa", sans-serif;
  }

  .container {
    min-height: 100%;

  }


  .nav {
    display: flex;
    justify-content: center;

  }
  nav {
    position: relative;
    display: inline-block;
    border: 2px solid #FFF;
    border-radius: 30px;
    animation: slide-in 1s ease-out;

  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul li:not(:last-child) {
    margin-right: 20px;
  }

  ul li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: background 0.2s;
  }

  ul li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
  }

  ul li:hover {
    background: #66B5D6;
    border-color: #66B5D6;
  }

  ul li:hover a {
    color: #6f6152;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-50px);
    }
    40% {
      transform: translateY(20px);
    }
    70% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(15px);
    }
  }

  /* Media queries para hacer el menú responsive */
  @media (max-width: 768px) {
    ul li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    ul li:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    ul li {
      padding: 10px;
    }

    ul li a {
      font-size: 12px;
    }
  }

  h1 {
  font-size: 1.5rem;
  }

  .enlaces {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 30%;
    padding: auo;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50%);
    }
    .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    }
